body{
    background-color: pink;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products {
    background-color: #b2dfdb;
    color: #212121; 
    display: inline-block;
    border: 1px solid;
    box-shadow: 5px 10px;
    padding: 10px 40px;
    max-width: 28%;
    flex: 0 0 33.333333%;
    justify-content:space-between;

    

}

.productImage{
    display: block;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    /*width: 300px;
   /* height: 300px;
    padding: 10px;
    display: block;*/
    
}

h2.title{
    display: block;
    text-align: center;
    border: 1px solid lightblue;
    margin: 1em;
    padding: 10px 10px;
}

.productDescription{
    text-align: justify;
}

footer{
    font-weight: bold;
}

.pricing{
    font-weight: bold;
}

.productAvail{
    display: block;
    background-color: darkgray;
    color: yellow;
}