body{
    background-color: pink;
}

.products{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    margin: 20px;
    padding: 10px;
    box-shadow: 5px 10px;
    display:inline-block;
    justify-content: space-evenly;
   
    
}

.productImage{
    
    width: 200px;
    height: 200px;
    padding: 10px;
    margin:10px;
    align-items: 50%;
    display: block;
    margin: auto;
    justify-content: center;
}

h2.title{
    display: block;
    text-align: center;
    border: 1px, solid, lightblue;
}

.productDescription{
    text-align: justify;
}

footer{
    font-weight: bold;
}

.pricing{
    font-weight: bold;
}

.productAvail{
    display: block;
    background-color: darkgray;
    color: yellow;
}